<%= content_for :title, @team %>
<h1 class="page-header">
  <div class="pull-right">
    <%= link_to raw('&laquo; back'), @team %>
  </div>
  <%= content_for :title %>
  <small>Editing</small>
</h1>

<%= render 'form' %>
