<h1 class="page-header">
  <div class="pull-right">
    <%= link_to 'Create Team', new_team_path unless current_manager.team %>
  </div>
  Teams
</h1>

<div class="datatable">
  <table id="teams-list" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Manager</th>
        <th>Players</th>
        <th>Formation</th>
        <th class="text-right">Budget</th>
        <th width="10"></th>
        <th width="10"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @teams %>
    </tbody>
  </table>
</div>

