<tr>
  <% grid.html_columns(*options[:columns]).each do |column| %>
    <th class="<%= datagrid_column_classes(grid, column) %>">
      <div class="clearfix">
        <span class="pull-left"><%= column.header == '-' ? '' : column.header %></span>
        <%= datagrid_order_for(grid, column, options) if column.order && options[:order] %>
      </div>
    </th>
  <% end %>
</tr>
