<div class="order">
  <%- if grid.as_query.has_key?(:descending) && column.name.to_s === grid.as_query[:order].to_s -%>
    <%= link_to(
      icon('sort-asc'),
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => false)),
      :class => "asc") if grid.as_query[:descending] %>
    <%= link_to(
      icon('sort-desc'),
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => true )),
      :class => "desc") unless grid.as_query[:descending] %>
  <%- else -%>
    <%= link_to(
      icon('sort').html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => false )),
      :class => "asc") %>
  <%- end -%>
</div>
