<%= content_for :title, 'Results' %>
<h1 class="page-header"><%= content_for :title %> <small>Matches</small></h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="160" class="text-right">Date</th>
      <th></th>
      <th></th>
      <th class="text-center">Score</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'fixture', collection: @fixtures %>
  </tbody>
</table>
