body {
  margin-top: 60px;
}

.navbar-brand {
  font-weight: bold;
}

.form-action-links {
  margin: 7px 0 0 20px;
}

h1.page-header {
  margin-bottom: 40px;

  .pull-right {
    font-size: 0.4em;
    margin-top: 20px;
  }
}

.breadcrumb li {
  @extend .active;
}