body {
  margin-top: 60px;
}

.navbar-brand {
  font-weight: bold;
}

.form-action-links {
  margin: 7px 0 0 20px;
}

h1.page-header {
  margin-bottom: 40px;

  > .label {
    font-size: 50%;
    position: relative;
    top: -6px;
  }

  .pull-right {
    font-size: 0.4em;
    margin-top: 20px;

    .substitute {
      .fa-stack {
        width: 1.6em;
        height: 1.6em;
      }

      .fa-stack-2x {
        font-size: 1.6em;
        color: #aaa;
        top: 3px;
      }

      &.highlight .fa-stack-2x {
        color: green;
      }
    }
  }
}

.page-sub-header {
  @extend .lead;
  margin: 0 0 25px;
  position: relative;
  top: -28px;
  font-size: 18px;
  color: #888;
}

.tab-content > .tab-pane {
  margin: 10px 0;
}

.breadcrumb li {
  @extend .active;
}

table {
  th.position {
    width: 60px
  }

  th.substitute {
    width: 30px;
    padding: 8px 0 8px 8px !important;

    .fa-stack-2x {
      font-size: 1.6em;
    }

    .fa-stack-1x {
      position: relative;
      top: -3px;
    }
  }

  td.substitute {
    padding: 9px 0 8px 8px !important;

    .fa-stack {
      width: 1.6em;
      height: 1.6em;
    }

    .fa-stack-2x {
      font-size: 1.6em;
      color: #aaa;

      &.highlight {
        color: green;
      }
    }

    .fa-stack-1x {
      position: relative;
      top: -3px;
    }
  }

  th.pld,
  th.gls,
  th.ass,
  th.cs,
  th.ga,
  th.tot,
  td.pld,
  td.gls,
  td.ass,
  td.cs,
  td.ga,
  td.tot {
    text-align: right;
  }

  tr div.order {
    float: right;
  }
}

.datagrid-form {
  padding: 5px 5px 8px;
  margin-bottom: 10px;

  .datagrid-filter {
    margin: 5px;

    label {
      font-weight: normal;
      text-align: right;
      padding-right: 12px;
      margin: 7px 0 0 0;
    }

    input[class*='filter'] {
      border: 1px solid #cccccc;
      border-radius: 3px;
      padding: 3px 7px;
    }
  }
}
