.right {
  text-align: right;
}

#load-screen {
  display: none;

  #load-screen-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0.7;
    top: 0;
    z-index: 9998;
  }

  #load-screen-spinner {
    background: transparent image-url('ajax-loader.gif') no-repeat;
    width: 32px;
    height: 32px;
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 50%;
  }
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}